header {
  display: block;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  padding: 0 10px;
  background: #121212;

  .wrap {
    position: relative;
    display: block;
    width: 200%;
    height: 200%;
    margin: 0 auto;
    max-width: 1980px;

    .logo {
      display: block;
      width: 120px;
      position: absolute;
      left: 10px; top: 50%;
      -webkit-transform: translateY(-30%);
      -moz-transform: translateY(-30%);
      transform: translateY(-30%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }

    }

  }
}
